/* CSS Document */

body{
	font-family:"Arial";
	padding:0px;
	margin:0px;
}

.grid{
	width:100%;
	padding-top:0px;
	padding-bottom:0px;
	overflow:hidden;
}

.dh1{ width:6.25%; }
.dh2{ width:14.58%; }
.dh3{ width:22.91%; }
.dh4{ width:31.25%; }
.dh5{ width:39.58%; }
.dh6{ width:47.91%; }
.dh7{ width:56.25%; }
.dh8{ width:64.58%; }
.dh9{ width:72.91%; }
.dh10{ width:81.25%; }
.dh11{ width:89.58%; }
.dh12{ width:97.91%; }

.dh1, .dh2, .dh3, .dh4, .dh5, .dh6, .dh7, .dh8, .dh9, .dh10, .dh11, .dh12{
	float:left;
	display:inline;
	margin:0 1.04%;
}

@media screen and (max-width:720px){
	.dh1, .dh2, .dh3, .dh4, .dh5, .dh6, .dh7, .dh8, .dh9, .dh10, .dh11, .dh12{
		width:97.91%;
		margin-bottom:1em;
	}
}

#login{
	max-width:350px;
	margin:100px auto;
	position:relative;
	display:block;
	background-color:#FFFFFF;
	box-shadow: 0 0 5px #aaa;
}

#berita{
	max-width:100%;
	margin:10px auto;
	position:relative;
	display:block;
	background-color:#FFFFFF;
	box-shadow: 0 0 5px #aaa;
	height:auto;
}

h4{
	color:#007EBB;
	font-size:20px;
	padding:0px;
}

big{
	font-size:20px;
	font-weight:bold;
}

fieldset{
	margin:0px;
	border:none;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="email"],
textarea,
select{
	width:100%;
	padding:0.8em;
	margin-top:1em;
	font-family:Arial;
	font-size:14px;
	color:#007EBB;
	border:1px solid #999999;
	border-radius:4px;
	background-color:#F3F3F3;
}

select{
	width:auto;
}
option{
	padding:5px;
}

input[type="submit"]{
	width:auto;
	margin-top:0.9em;
	color:#FFFFFF;
	background-color:#007EBB;
	padding:0.8em;
	font-family:Arial;
	font-size:14px;
	text-align:center;
	cursor:pointer;
	border-radius:4px;
}

.container{
	background-color:#FFFFFF;
}
.container1{
	background-color:#FFFFFF;
	height:50px;
	color:#007EBB;
	font-family:Arial;
	font-size:26px;
	padding-left:20px;
	padding-top:20px;
}

.container2{
	background-color:#FFFFFF;	
	color:#007EBB;
	font-family:Arial;
	font-size:14px;
}

.container3{
	background-color:#007EBB;
	height:35px;
	color:#FFFFFF;
	font-family:Arial;
	font-size:14px;
	padding-left:20px;
	padding-top:20px;
}

#isiadmin{
	min-width:92%;
	position:relative;
	display:block;
	padding:20px;
	background-color:#FFFFFF;
	float:right;
}

/* BAGIAN MENU */
.topnav {
  overflow: hidden;
  background-color: #007EBB;
}

.topnav a {
  float: left;
  display: block;
  color: #FFFFFF;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color: #FFFFFF;
  color: #007EBB;
}

.active {
  background-color: #FFFFFF;
  color: #007EBB;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 720px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
	width:auto;
  }
}

@media screen and (max-width: 720px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*TABEL*/
table{
	width:100%;
	border-color:#007EBB;
}
th{
	text-align:center;
	padding:10px;
	background-color:#007EBB;
	color:#FFFFFF;
	font-family:Arial;
	font-size:14px;
}
td{
	padding:10px;
	background-color:#F2F2FF;
	font-size:14px;	
	color:#007EBB;	
}
a{ color:#FF6600; text-decoration:none;}
a:hover{ color:#333333;}

.btn{
	font-family:Arial;
	font-size:14px;
	padding:9px 9px;
	text-align:center;
	cursor:pointer;
	border:1px solid transparent;
	border-radius:4px;
}

.btn-add{ 
	color:#FFFFFF; 
	background-color:#007EBB;
	width:200px;
}

.btn-add:hover{ 
	color:#007EBB; 
	background-color:#F2F2FF;
}

.btn-edit{ 
	color:#FFFFFF; 
	background-color:#00B75B;
	width:65px;
}

.btn-edit:hover{ 
	color:#00B75B; 
	background-color:#97FFCB;
}

.btn-del{ 
	color:#FFFFFF; 
	background-color:#FF0000;
	width:65px;
}

.btn-del:hover{ 
	color:#FF0000; 
	background-color:#FFE1E1;
}

#add{
	max-width:500px;
	margin:0px;
	position:relative;
	display:block;
	background-color:#FFFFFF;
}